# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# =========================
# Generated LiDAR data
# =========================
output/
*.las

# Local test data
test_data/

# =========================
# PyInstaller build files
# =========================
build/
dist/
*.spec

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating system files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Bundled executable source
# =========================
tools/laszip64.exe